.centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: center; 
    -webkit-align-items: center;
    display: -moz-flex; /* Mozilla */
    -moz-justify-content: center; 
    -moz-align-items: center;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2016, 11:19:14 AM
    Author     : dharani
*/

